body {
  margin: 0;
  padding: 0;
  background-color: greenyellow;
}
h1{
  color: blue;

}

#body{
  background-image: url('news.jpg');
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}